h1 {
    color: magenta;
}

body {
    background-color: lightblue;
}

header {
  background-color: #008000;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Courier New";
}

#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navBar li {
  float: left;
  border-right:1px solid #bbb;
}

#navBar li:last-child {
  border-right: none;
}

#navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 104px;
  text-decoration: none;
}

#navBar li a:hover:not(.active) {
  background-color: #111;
}

#navBar .active {
  background-color: #4CAF50;
}