{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a dog
{% endblock %}

{% block header_block %}
  Add a dog!
{% endblock %}

{% block body_block %}

	<div>
			<form id="dog_form" method="post" action="{% url 'add_dog' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputText1">Name:</label>
					<input type="text" class="form-control" id = "exampleInputText1" name="name" placeholder="Name"/>
				</div>
				<div class="form-group">
					<label for="exampleInputText1">Age:</label>
					<input type="text" class="form-control" id = "exampleInputInteger1" name="age" placeholder="Age"/>
				</div>
				<div class="form-group">
					<label for="exampleInputText1">Breed:</label>
					<input type="text" class="form-control" id = "exampleInputText1" name="breed" placeholder="Breed"/>
				</div>
				<div class="form-group">
					<label for="exampleInputFile">Picture:</label>
					<input type="file" name="image" id="exampleInputFile">
				</div>

				<input type="submit" name="submit" value="Add Dog" />

			</form>
	</div>

{% endblock %}

<!--
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
	{{ field.errors }}
	{{ field.help_text }}
	{{ field }}

{% endfor %} -->
