{% extends 'golden_leash/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
	<title>Password Change</title>

{% endblock %}




{% block body_block %}
	<label></label>
	<form method="POST">
	{{form.non_field_errors}}
		{% csrf_token %}
		{% for field in form %}
			{{field.label_tag}}
			{{ field }}
			{{ field.help_text | safe }}
			{% if field.errors %}
				{{ field.errors }}
			{% endif %}
		{% endfor %}
	<button type="submit">Submit</button>
	</form>
{% endblock %}