{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block header_block %}
		<h1 id="heading">Homepage</h1>		
{% endblock %}

{% block body_block %}

		<div>
			Looking to walk dogs? Need someone to walk your dogs? Then Golden Leash is the application for you!
			We love dogs and know you do to, so here are some of our finest dogs below!
			<br>
		<div class="gallery">
  			<a target="_blank" href="{% static "images/pug.jpg" %}">
    		<img src="{% static "images/pug.jpg" %}" alt="Dog" width="600" height="400">
  			</a>
  			<div class="desc">Benji</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="{% static "images/lab.jpg" %}">
    		<img src="{% static "images/lab.jpg" %}" alt="Dog" width="600" height="400">
  			</a>
  			<div class="desc">Rex</div>
		</div>
		
		<div class="gallery">
  			<a target="_blank" href="{% static "images/weird.jpg" %}">
    		<img src="{% static "images/weird.jpg" %}" alt="Dog" width="600" height="400">
  			</a>
  			<div class="desc">Dave</div>
		</div>
		
		
		
		
		<div class = "ratingsList">
		
			<h3> Highest Rated Walkers </h3>
			{% if ratings %}
			<ul>
				{% for rating in ratings %} 
					<li>
						<p> {{ rating }} </p>
					</li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>There are no walkers present.</strong>
			{% endif %} 
		</div>
		
		
		
{% endblock %}
