{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Account
{% endblock %}

{% block header_block %}
	My Account
{% endblock %}

{% block body_block %}
<div class="container-fluid">
	{% if profiles %}
		{% for profile in profiles %}
			{% if profile.user.get_username == user.get_username %}
				Username: {{profile.user.get_username}}<br>
				Fullname: {{profile.fullname}}<br>
				Address: {{profile.address}}<br>
				Owner: {{profile.is_owner}}<br>
				{% if not profile.is_owner %}
					Rating: {{ profile.rating }}<br>
				{% else %}
					Your dogs:<br>
					{% if dogs %}
						{% for dog in dogs %}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ dog.name }}<br>
						{% endfor %}
					{% endif %}
				{% endif %}
				Picture: {{profile.picture}}<br>

			{% endif %}
		{% endfor %}
	{% endif %}

	<a class="btn-default" href="{% url 'edit_account' %}">Edit Account</a><br>
	<a class="btn-default" href="{% url 'remove_dog' %}">Remove a Dog</a>
</div>
{% endblock %}
