{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
 	$(document).ready(function() {

    $('div.vote-buttons img.vote-up').click(function() {

        var id = {{ thread.id }};
        var vote_type = 'up';

        if ($(this).hasClass('selected')) {
            var vote_action = 'recall-vote'
            $.post('/ajax/thread/vote', {id:id, type:vote_type, action:vote_action}, function(response) {
                if (isInt(response)) {
                    $('img.vote-up').removeAttr('src')
                        .attr('src', 'images/vote-up-off.png')
                        .removeClass('selected');
                    $('div.vote-tally span.num').html(response);
                }
            });
        } else {

            var vote_action = 'vote'
            $.post('/ajax/thread/vote', {id:id, type:vote_type, action:vote_action}, function(response) {
                if (isInt(response)) {
                    $('img.vote-up').removeAttr('src')
                        .attr('src', 'images/vote-up-on.png')
                        .addClass('selected');
                    $('div.vote-tally span.num').html(response);
                }
            });
        }
    });

 	{{user.get_username}} - Review

{% endblock %}

{% block header_block %}
	{{user.get_username}} - Review
{% endblock %}

{% block body_block %}

	<div class="vote-buttons">
        {% ifequal thisUserUpVote 0 %}
        	<img class="vote-up" src = "images/vote-up-off.png" title="Vote walker UP (click again to undo)" />
        {% else %}
        	<img class="vote-up selected" src = "images/vote-up-on.png" title="Vote walker UP. (click again to undo)" />
        {% endifequal %}

        {% ifequal thisUserDownVote 0 %}
        	<img class="vote-down" src = "images/vote-down-off.png" title="Vote walker DOWN (click again to undo)" />
        {% else %}
        	<img class="vote-down selected" src = "images/vote-down-on.png" title="Vote walker DOWN (click again to undo)" />
        {% endifequal %}
    </div> <!-- .votebuttons -->

{% endblock %}
