{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
	View dogs
{% endblock %}

{% block header_block %}
	View available dogs
{% endblock %}

{% block body_block %}
		{% if profiles %}
			{% for profile in profiles %}
				{% if profile.user.get_username == user.get_username and profile.is_owner%}
					You are an owner!
				{% elif profile.user.get_username == user.get_username %}
					You are a walker!
				{% endif %}
			{% endfor %}
		{% endif %}

{% endblock %}
