{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
	View dogs
{% endblock %}

{% block header_block %}
	View available dogs
{% endblock %}

{% block body_block %}
	<div class="container-fluid">
		<br>
		<div class="row">
		{% if dogs %}
			{% for dog in dogs %}
				{% if dog.available %}
					<div class="col-md-2">
					<h5>Name: {{dog.name}}</h5>
					Age: {{dog.age}}<br>
					Breed: {{dog.breed}}<br>
					Owner: {{dog.owner.fullname}}<br>
					Picture: {{dog.image}}<br>
					{% for profile in profiles %}
						{% if profile.user.get_username == user.get_username and not profile.is_owner %}
							<a href="#" >Book to walk {{dog.name}}</a>
						{% endif %}
					{% endfor %}
					<br><br>
					</div>
				{% endif %}
			{% endfor %}

		{% else %}

			Currently no dogs are available

		{% endif %}
		</div>
	</div>
{% endblock %}
