{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
 Walker Profiles
{% endblock %}

{% block header_block %}
	Dog walker profiles Page
{% endblock %}


{% block body_block %}
<br>
<div class="container-fluid">
  <br>
  <div class="row">
  {% if profiles %}
    {% for profile in profiles %}
      {% if not profile.is_owner and not profile.fullname == '' %}
        <div class="col-md-2">
        <h5>Name: {{profile.fullname}}</h5>
        Rating: {{profile.rating}}<br>
        Address: {{profile.address}}<br>
        Picture: {{profile.picture}}<br>
        {% for profile1 in profiles %}
          {% if profile1.user.get_username == user.get_username and profile1.is_owner %}
            <Review walker?<br>
            <form id="rating_form" method = "post" action = "{% url "rating">
              {% csrf_token %}
              <div class = "dropdown">
                <select name="rating">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                 </select>  
              </div>  
              <input type="submit" name="submit" value="Add rating" />
            </form> 
          {% endif %}
        {% endfor %}
        <br><br>
        </div>
      {% endif %}
    {% endfor %}

  {% else %}

    Currently no walkers are available

  {% endif %}
  </div>
</div>
{% endblock %}
