{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
 Walker Profiles
{% endblock %}

{% block header_block %}
	Dog walker profiles Page
{% endblock %}


{% block body_block %}
<br>
<div class="container-fluid">
	<!-- <h4>List of walkers: </h4> -->
	{% if profiles %}
		{% for profile in profiles %}
			{% if not profile.is_owner and not profile.fullname == '' %}
				<div>
					<h5>Name: {{ profile.fullname }}</h5>
					<p>
					Rating: {{ profile.rating }} <br>
					Address: {{ profile.address }}
				</p>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<strong>No Walkers currently in database.</strong>
	{% endif %}
</div>
{% endblock %}
