{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ walker.name }}
{% endblock %}

{% block head_block %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/like.js' %}"></script>

{% endblock %}

{% block body_block %}
    {% if walker %}
        <h2>{{ walker.fullname }}</h2>

        {% if user.is_authenticated %}
          {% for profile in profiles %}
            {% if profile.user.get_username == user.get_username and profile.is_owner %}
              <div>
              <b>{{walker.fullname}} has a rating of:</b>
              <h5><strong id="like_count"> {{ walker.rating }} </strong></h5>
              {% if user.is_authenticated %}
                <button id ="likes" data-walkerid="{{walker.id}}" class="btn btn-mini btn-primary" type="button">Upvote</button>
                <!-- unused dislike button -->
                <!-- <button id ="dislikes" data-walkerid="{{walker.id}}" class="btn btn-mini btn-primary" type="button">Downvote</button> -->
              {% endif %}
              </div>
            {% elif profile.user.get_username == user.get_username and not profile.is_owner %}
              Only dog owners can leave a rating/review!
            {% endif %}
          {% endfor %}
        {% endif %}

    {% else %}
        The specified walker does not exist!
    {% endif %}
{% endblock %}
