{% extends 'golden_leash/base.html' %}
{% load staticfiles %}

{% block title_block %}
 Walker Profiles
{% endblock %}

{% block header_block %}
	Dog walker profiles Page
{% endblock %}


{% block body_block %}
<br>
<div class="container-fluid">
  <br>
  <div class="row">
  {% if profiles %}
    {% for profile in profiles %}
      {% if not profile.is_owner and not profile.fullname == '' %}
        <div class="col-md-2">
        <h5>Name: <a href="{% url 'show_walker' profile.slug %}">{{profile.fullname}}</a></h5>
        Rating: {{profile.rating}}<br>
        Address: {{profile.address}}<br>
        Picture: {{profile.picture}}<br>
        <br><br>
        </div>
      {% endif %}
    {% endfor %}

  {% else %}

    Currently no walkers are available

  {% endif %}
  </div>
</div>
{% endblock %}
